# backups and VCS
.svn
*/.svn
*~
*.swp
*.orig
# build outputs
.rebar/
_build/
rebar.cross_compile.config
config.tmp
*.pdb
*.beam
ebin/
priv/
.eunit/
doc/
sqlite3.plt
TEST*.xml
*.db
*.exp
*.lib
*.obj
*.dll
*.o
*.so
# crash dump
erl_crash.dump
