/*body {
   scrollbar-face-color: #F5F5F5;
   scrollbar-highlight-color: #F5F5F5;
   scrollbar-3dlight-color: #B9B8C5;
   scrollbar-darkshadow-color: #FFFFFF;
   scrollbar-shadow-color: #B9B8C5;
   scrollbar-arrow-color: #FF3300;
   scrollbar-track-color: #FFFFFF;
}*/
body, table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10.5pt;
  font-weight: normal;

  background: #fff;
  color: #000;
  margin: 0;
}
hr {
	background: #aaa;
	border: 0;
	height: 1px;
}
a {
	color:#9bb200;
	text-decoration:underline;
	font-weight:bold;
}
a:visited {
	color:#6f8000;
	text-decoration:underline;
	font-weight:bold;
}
a:active {
	color:#9bb200;
	text-decoration:underline;
	font-weight:bold;
}
a:hover {
	color:#b3ce00;
	text-decoration:none;
	font-weight:bold;
}
span.orange_title {
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  font-style: normal;

  color:#006;
}
td.content {
	margin-left: 10px;
	margin-right: 10px;
}
span.copyright {
  font-family:  Verdana, Arial, Helvetica, sans-serif;
  font-size: 7pt;
  font-weight: normal;
  font-style: normal;

  color: #aaa;
}
